<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../style/infoList.css">
</head>
<body id="app">
	<header>
		<div class="title">
			<h2>求知欲与装逼欲并发</h2>
		</div>
		<div class="tab">
			<div class="tabChild tab1 work checkWork">
				<strong>WORK</strong>
			</div>
			<div class="tabChild tab2 blog">
				<strong>BLOG</strong>
			</div>
			<div class="tabChild tab3 about">
				<strong>ABOUT</strong>
			</div>
		</div>
	</header>
	<div class="container containerWork" style="display:none">
	</div>
	<div class="containerBlog">
		<div class="blogLeft">
		</div>
		<div class="blogRight">
			<div class="listTitle">
				热门文章
			</div>
			<ul>
				<li>
					<a href="javascript:void(0)">
						asd
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						asdasdas
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="../service/jquery-2.2.2.min.js"></script>
	<script type="text/javascript" src="../service/infolist.js"></script>
</body>
</html>